<div class="d-flex flex-row gap-4 flex-wrap justify-content-center align-items-center pt-2">

  <div class="card w-75" >
    <div class="card-header"> Plants to water today: </div>
    <div class="card-body" *ngFor="let plant of plantsToWater$ | async">

      <div class="form-check" *ngVar="!!(getPlantWateringStatus$(plant.id!) | async) as wateringStatus">
        <input class="form-check-input" type="checkbox"
               [checked]="wateringStatus"
               (change)="setPlantWateringValue(plant, wateringStatus)" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1" [class.item-done]="">
          {{plant.name}}
        </label>
      </div>

    </div>
  </div>

</div>
