<div class="d-flex flex-row gap-4 flex-wrap justify-content-center align-items-center pt-2">

  <div class="card w-75" >
    <div class="card-header"> Plants to water today: </div>
    <div class="card-body" *ngFor="let watering of waterings$ | async">

      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               [checked]="watering.wasWatered"
               (change)="setPlantWateringValue(watering)" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1" [class.item-done]="watering.wasWatered">
          {{watering.plantName}}
        </label>
      </div>

    </div>
  </div>

</div>
