<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">

    <div class="navbar-brand">Water your plants</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3">

          <li>
            <button class="btn btn-outline-primary ms-auto" data-bs-dismiss="offcanvas" (click)="toDashboard()"><i class="bi bi-border-all"></i> Dashboard</button>
          </li>
          <li>
            <button class="btn btn-outline-primary ms-auto" data-bs-dismiss="offcanvas" (click)="toTodolist()"><i class="bi bi-card-checklist"></i> To-do list</button>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="nav-item">
            <button class="btn btn-primary ms-auto" data-bs-dismiss="offcanvas" (click)="logout()"><i class="bi bi-power"></i> Logout</button>
          </li>

        </ul>

      </div>

    </div>

  </div>
</nav>
