.card {
  transition: transform 0.2s;
  width: 180px;
  height: 250px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.big-plus-sign {
  font-size: 50px;
}

@media (max-width: 767.98px) {
  .card {
    width: 90px !important;
    height: 125px !important;
  }

  .big-plus-sign {
    font-size: 35px;
  }
}
