<div class="modal-header">
    <h4>Delete a plant</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<div class="modal-body d-flex flex-column">
    <div>Are you sure you want to completely delete <strong>{{plant?.name}}</strong>?</div>
    <div>This action is irreversible!</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="dismiss()">
        Abort
    </button>
    <button [disabled]="!plant"
            type="button"
            class="btn"
            [ngClass]="!!plant ? 'btn-dark' : 'btn-outline-primary'"
            (click)="delete()">Confirm
    </button>
</div>
