$accent: #adb5bd !important;
$primary: #343a40 !important;
$darker-primary: #2e343a !important;
$darkest-primary: #272c31 !important;

$red: #e16162 !important;
$darker-red: #572c2c !important;

body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $darkest-primary;
}

.card {
  background-color: $primary;
  color: $accent;
  border-color: $accent;

  .card-header {
    color: $darkest-primary;
    background-color: $accent;
    border-color: $accent;
  }
}

.form-control {
  border-color: $primary;
  background-color: $darkest-primary;
  color: $accent;

  &:focus {
    border-color: $primary;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025) inset, 0 0 6px $accent;
  }

  &::placeholder {
    color: $accent;
  }
}

.btn-dark {
  background-color: $darkest-primary;
  border-color: $darkest-primary;
  color: $accent;
  font-weight: bold !important;
  transition: transform 0.2s !important;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $accent;
    border-color: $accent;
    color: $darkest-primary;
  }
}

.btn-primary {
  background-color: $accent;
  border-color: $accent;
  color: $darkest-primary;
  font-weight: bold !important;
  transition: transform 0.2s !important;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $darkest-primary;
    border-color: $darkest-primary;
    color: $accent;
  }
}

.btn-outline-primary {
  color: $accent;
  border-color: $accent;
  font-weight: bold !important;
  transition: transform 0.2s !important;

  &:hover {
    transform: scale(1.1);
    color: $accent;
    background-color: $darker-primary;
    border-color: $accent;
  }

  &:active {
    color: $accent;
    background-color: $darkest-primary;
    border-color: $accent;
  }
}

.alert {
  border-color: $red;
  background-color: $red;
  color: $darker-red;
}

.modal-footer {
  border-color: $accent;
  background-color: $primary;
}

.modal-body {
  background-color: $primary;
  color: $accent;
}

.modal-header {
  background-color: $accent;
  border: 0 !important;
  color: $darkest-primary;
}

.modal-content {
  border-color: $accent;
}

.card-group > .card:not(:last-child) {
  border-color: $accent;
}

.card-group > .card:not(:first-child) {
  border-color: $accent;
}

.h-100-w-nav {
  height: calc(100% - 66px) !important;
  margin-top: 66px !important;
}

.form-check-input {
  transform: scale(1.5);
  background-color: $accent;
  border-color: $darkest-primary;

  &:checked {
    background-color: $darkest-primary;
  }

  &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025) inset, 0 0 6px $accent;
  }
}
